
{{error}}
<form method="POST">

<div class="form-group p-2">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control"  name="nombre" aria-describedby="nombre"  value="{{datos.nombre}}">
</div>

<div class="form-group p-2">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control"  name="apellido" aria-describedby="apellido" value="{{datos.apellido}}">
</div>

 
  <button type="submit" class="btn btn-primary">dar de alta</button>

</form>