
{{error}}
<form action="/login" method="POST">

<div class="form-group p-2">
    <label for="nombre">Usuario</label>
    <input type="text" class="form-control"  name="user" aria-describedby="usuario"  value="{{user}}">
</div>

<div class="form-group p-2">
    <label for="apellido">Contraseña</label>
    <input type="password" class="form-control"  name="pass" aria-describedby="contrasenia" value="{{pass}}">
</div>

 
  <button type="submit" class="btn btn-primary">Log In</button>

</form>