
{{error}}
<form method="POST" >

<div class="form-group p-2">
    <label for="usuario">Usuario</label>
    <input type="text" class="form-control"  name="usuario" aria-describedby="usuario"  value="{{datos.usuario}}">
</div>

<div class="form-group p-2">
    <label for="contrasenia">Contraseña</label>
    <input type="password" class="form-control"  name="contrasenia" aria-describedby="contrasenia" value="{{datos.contrasenia}}">
</div>


<div class="form-group p-2">
    <label for="email">E mail</label>
    <input type="email" class="form-control"  name="email" aria-describedby="email" value="{{email}}">
</div>

 
  <button type="submit" class="btn btn-primary">Registrarse</button>

</form>